{% extends 'base.html' %}
{% block title %}
    <title>找回密码</title>
{% endblock %}
{% block css %}
    <style>
        body {
            background: linear-gradient(135deg, #6dd5ed, #2193b0);
        }

        #body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .btn-primary {
            background-color: #2193b0;
            border: none;
        }

        .btn-primary:hover {
            background-color: #1e87a1;
        }

        #message {
            margin-top: 1rem;
        }

        .form-label {
            font-weight: bold;
        }

        .link-primary {
            color: #2193b0;
        }

        .link-primary:hover {
            color: #1e87a1;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container justify-content-center align-items-center vh-100" id="body">
        <div class="card w-100" style="max-width: 400px;">
            <div class="card-body">
                <h5 class="card-title text-center">忘记密码</h5>
                <form id="forgotPasswordForm">
                    <div class="mb-3">
                        <label for="email" class="form-label">邮箱地址</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <button type="submit" id="sendCodeButton" class="btn btn-primary w-100">点击发送验证码</button>
                </form>
                <form id="verifyCodeForm" style="display: none;">
                    <div class="mb-3">
                        <label for="verificationCode" class="form-label">验证码</label>
                        <input type="text" class="form-control" id="verificationCode" name="verificationCode" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">密码:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">验证并重置密码</button>
                </form>
                <div id="message" class="alert" style="display: none;"></div>
                <div class="text-center mt-3">
                    <a href="/login/login/" class="link-primary">返回登录</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#forgotPasswordForm").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission behavior

                $.ajax({
                    url: '/login/smsemail/', // Replace with the actual request URL
                    method: 'POST',
                    contentType: 'application/json', // Set content type to JSON
                    data: JSON.stringify({ // Stringify the data as JSON
                        email: $("#email").val(),
                    }),
                    success: function (response) {
                        $("#message").text(response.message).removeClass('alert-danger').addClass('alert alert-success').show();
                        $("#forgotPasswordForm").hide();
                        $("#verifyCodeForm").show();
                    },
                    error: function (jqXHR) {
                        let error = "An unknown error occurred";
                        if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
                            error = jqXHR.responseJSON.message;
                        }
                        $("#message").text(error).removeClass('alert-success').addClass('alert alert-danger').show();
                    }
                });
            });

            $("#verifyCodeForm").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission behavior

                $.ajax({
                    url: '/login/verify_code/', // Replace with the actual request URL for verification
                    method: 'POST',
                    contentType: 'application/json', // Set content type to JSON
                    data: JSON.stringify({ // Stringify the data as JSON
                        email: $("#email").val(),
                        code: $("#verificationCode").val(),
                        password: $("#password").val()

                    }),
                    success: function (response) {
                        $("#message").text(response.message).removeClass('alert-danger').addClass('alert alert-success').show();
                    },
                    error: function (jqXHR) {
                        let error = "An unknown error occurred";
                        if (jqXHR.responseJSON && jqXHR.responseJSON.message) {
                            error = jqXHR.responseJSON.message;
                        }
                        $("#message").text(error).removeClass('alert-success').addClass('alert alert-danger').show();
                    }
                });
            });
        });
    </script>
{% endblock %}
